aws_region       = "us-east-1"
app_name         = "personal-devops-env"
vpc_id           = "vpc-CHANGE_ME"
subnet_id        = "subnet-CHANGE_ME_PUBLIC"
key_name         = "CHANGE_ME_EC2_KEY_PAIR"
allowed_ssh_cidr = "YOUR_PUBLIC_IP/32"
instance_type    = "t3.micro"
